input.form-control, textarea.form-control, select.form-control {
	max-width:700px;
}

@media (min-width:768px) {
	table.bia td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}
}
