div.input-group {
	max-width:100%;
	width:100%;
}

label.option {
	display:block;
	border:1px solid #a0a0f0;
	background-color:#f0f0ff;
	padding:5px 15px;
	margin:5px;
	border-radius:5px;
	font-weight:normal;
	cursor:pointer;
}

label.option input {
	margin-right:15px;
}
