table.table th:nth-child(2) {
	width:200px;
}

table.table th:nth-child(3) {
	width:110px;
}

@media (max-width:767px) {
	table.table th:nth-child(2),
	table.table td:nth-child(2),
	table.table th:nth-child(3),
	table.table td:nth-child(3) {
		display:none;
	}
}

table.table tr.info td {
	font-weight:bold;
}
