div.row label {
	margin-right:5px;
}

p.measure {
	white-space:pre-wrap;
}

table.measures th:first-child {
	width:60px;
}

table.measures th:nth-child(3) {
	width:120px;
}

table.measures th:nth-child(4) {
	width:40px;
}

table.measures tr.ineffective {
	color:#c0c0c0;
	text-decoration:line-through;
}

img.warning {
	margin-left:5px;
	position:relative;
	top:-2px;
	width:15px;
}

h2 span.show_highlighter {
	color:#e06060;
	float:right;
	cursor:pointer;
}

div.highlighter {
	display:none;
}

select.threats {
	max-width:none;
}

table.threats span.urgency0 {
	color:#00c000;
}

table.threats span.urgency1 {
	color:#ffd000;
}

table.threats span.urgency2 {
	color:#ff8000;
}

table.threats span.urgency3 {
	color:#ff0000;
}

@media (min-width:768px) {
	table.threats td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.threats th:nth-child(n+2) {
		width:120px;
	}

	div.highlighter div:first-child {
		padding-top:6px;
	}
}
